*{
margin:0;
padding:0;
}

body {
background-image:url("pic.jpg");
background-position:center;
background-size:cover;
position:relative;
display:block;
z-index:1;
}

.heading{
text-align:center;
}


.button{
width:360px;
text-shadow:10%;
font-family:sans-serif;
color:white;
margin:40px;
height:140px;
background-color:transparent;
font-weight:bold;
font-size:45px;
outline:none;
border-radius:55px;
border:1px solid #2ecc71;
border-width:14px;

}

.area{
width:768px;
position:absolute;
margin:10px 30px;
border:20px solid white;
background-color:transparent;
margin-top:100px;
margin-left:100px;
}

.box{
width:216px;
height:200px;
border:20px solid white;
float:right;
font-size:160px;
font-family:times;
text-align:center;
color:yellow;

}

.box:hover{
color:red;
transition:.5s;

}

.button2{
width:220px;
text-shadow:10%;
font-family:sans-serif;
color:white;
margin:40px;
height:115px;
background-color:transparent;
font-weight:bold;
font-size:60px;
outline:none;
border-radius:40px;
border:1px solid #2ecc71;
border-width:14px;
margin-top:990px;
margin-left:400px;
}

.button2:focus{
width:280px;
transition:.23s;
}

